@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0F172A;
  color: #E2E8F0;
}

.spinner-container {
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 5rem;
  height: 5rem;
  border: 0.6rem solid #1E293B;
  border-top: 0.6rem solid #3B82F5;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}